*{
    box-sizing: border-box;
}

hr{
    width: 80%;
}

body{
    margin: 0;
    background-color: #050505;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
}

header{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
#logo{
    width: 5%;
    min-width: 50px;
}

.logo-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#nombre-logo{
    width: 15vw;
    min-width: 150px;
}

#descripcion-logo{
    margin: 0;
    font-size: 0.9em;
    padding-left: 10px;
    margin-top: -10px;
    text-align: start;
}

.navbar{
    margin-left: auto; 
    padding: 10px;
}

.navbar > ul{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    list-style: none;
    flex-wrap: wrap;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img{
    width: 70%;
}

.productos{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.productos-card {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    gap: 50px;
}

.img-card{
    width: 30%;
    border-radius: 20px;
}

.text-card{
    text-align: center;
    line-height: 1.5;
}

.armado-pc{
    margin: 20px auto 20px auto;
    width: 80%;
    align-items: center;
}

.armado-pc-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 0;
    gap: 50px;
}

.servicios{
    margin: 20px auto 20px auto;
    padding: 10px;
    width: 80%;
    align-items: center;
    border: solid white 2px;
    border-radius: 20px;
}
#contenedor-servicios-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
}

.servicios-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

.servicios-card > .img-card{
    width: 100%;
    max-height: 300px;
}

.testimonios{
    margin: 20px auto 20px auto;
    padding: 10px;
    width: 80%;
    align-items: center;
}

#contenedor-testimonios-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.testimonio-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 30%;
    align-items: center;
    border: solid 2px white;
    border-radius: 20px;
}

.testimonio-card > .img-card{
    width: 50%;
}