*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    margin: 0;
    background-color: #000000;
    color: white;
}

/* HEADER */

header{
    background-color: #050505;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo h1{
    color:#ece81a;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:20px;
    font-weight:bold;
}

/* TITULO */

.hero{
    text-align:center;
    padding:50px 20px;
}

.hero h2{
    font-size:50px;
    margin-bottom:10px;
}

.hero p{
    font-size:20px;
}

/* TARJETAS */

.cards{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    width:320px;
    background:#222;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
}

.card img{
    width:100%;
    border-radius:10px;
}

.card h3{
    margin:15px 0;
}

.card p{
    margin-bottom:20px;
}

/* BOTONES */

.btn{
    display:inline-block;
    background-color: #0c0d0d;
    border: #0c0d0d;
    color: white;
    text-decoration:none;
    padding:10px 20px;
    border-radius:5px;
    font-size: bold;
}

.btn:hover{
    background-color: #222;
    border: solid #222;
    background:#ece81a;
}

/* SUBPAGINAS */

.pagina-servicio{
    max-width:900px;
    margin:50px auto;
    background-color: #0c0d0d;
    padding:30px;
    border-radius:10px;
}

.pagina-servicio h1{
    margin-bottom:20px;
}

.pagina-servicio img{
    width:100%;
    margin-bottom:20px;
}

.pagina-servicio p{
    margin-bottom:15px;
}

.pagina-servicio ul{
    margin-left:20px;
    margin-bottom:20px;
}

/* FOOTER */

footer{
    margin-top:50px;
    text-align:center;
    background-color: #0c0d0d;
    padding:25px;
}